# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\实验\重庆市交通规划研究院项目-交通瓶颈\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
